__pycache__
__pycache__/
.ruff_cahce
.ruff_cahce/
.env
.venv
.venv/
venv
venv/
testing
testing/
config.yaml
models/TTS-CORI-EN
models/TTS-KAREEM-ARABIC
models/whisper-medium
models/MedGemma
pre-code.py
audio.mp3
output/